.Fab {
  margin-right: 16px !important;
}

.FlashcardContainer {
  margin-bottom: 3em;
  margin-top: 3em;
  padding: 0 24px 0 24px;
}

.OuterCard {
  cursor: pointer;
}

.PinyinText {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif !important;
}

.Wrapper {
  margin-bottom: 8px;
}
