.CTAButton {
  margin-top: 16px !important;
  text-transform: none !important;
}

.CTAText {
  font-weight: 300;
  margin-top: 64px !important;
  text-align: center;
}

.Loading {
  margin-top: 64px;
}
