.CTAButton {
  margin-top: 16px !important;
  text-transform: none !important;
}

.CTAText {
  font-weight: 300;
  margin-top: 64px !important;
  text-align: center;
}

.Loading {
  margin-top: 64px;
}

.Subtitle {
  color: rgb(85, 85, 85);
  margin-top: 24px !important;
}

.Url {
  margin-top: 64px !important;
}
