.BottomButton {
  margin-bottom: 24px !important;
}

.FinishedText {
  margin-bottom: 24px !important;
}

.OuterBox {
  margin-top: 24px;
}

.PinyinText {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.ReviewSubtitle {
  margin-top: 16px !important;
}

.StatsSubtitle {
  margin-bottom: 16px !important;
}
